@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

html, body, #shoppingCart {
  height: 100%;
}

body {
  background-color: #FBFAFF;
  font-family: 'Source Sans Pro', sans-serif;
}

.square {
  width: 40px;
  height: 40px;
}